@model IEnumerable<EW_Exame.Models.Categoria>

@{
    ViewData["Title"] = "Index";
}

<h1>Categorias</h1>

<p>
    <a asp-action="Create" class="btn btn-outline-primary">Criar Nova</a>
</p>


@if (TempData["Mensagem"] != null)
{
    <div class="alert alert-success">
        @TempData["Mensagem"]
    </div>
}

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Nome)</th>
            <th>#Produtos</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Nome)</td>
                <td>@(item.Produtos?.Count() ?? 0)</td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-outline-info">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>
